.category-cards {
  max-width: 100%;
  margin-top: 1rem;


  & .card-container {

    & .category-card {
      display: flex;
      align-items: center;
      padding: .25rem;
      height: 5rem;
      max-height: 5rem;
      border-radius: .75rem;

      & .category-card-content {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-height: 5rem;

        & a {
          font-size: 2.25rem;
          font-weight: 500;
          font-variant-caps: small-caps;
          padding: 1rem;
          text-align: left;
          height: 100%;
          border-radius: .5rem;
          border: 2px solid lightgrey;
          text-transform: capitalize;
          width: 100%;
          flex: 0 3 auto;

          @include response(md) {
            font-size: 2rem;
          }

          &:hover {
            background: lightgoldenrodyellow !important;
          }
        }

        & img {
          margin-left: 1rem;
          width: 2rem;
          max-height: auto;
          justify-self: right;
          align-self: center;
          float: right;
        }
      }
    }
  }
}