.content-container {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 4.5rem;
  overflow-y: auto;
  padding: 0 1rem;
  border-radius: 1.5rem !important;

  & h1 {
    font-size: 1.3rem;
    font-weight: 700;

    @include response(md) {
      font-size: 1.6rem;
    }
  }

  & h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  ul {
    padding: 0 1.25rem;

    li {
      padding-bottom: .5rem;

      &::before {
        content: '\2726';
        padding-right: .5rem;
      }
    }
  }

  & p {
    padding-bottom: .5rem;
  }
}