footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: $light-color;
  width: 100vw;
  height: 3.5rem;
  border-top: 1px solid $primary-color;

  @include response(md) {
    height: 4rem;
  }

  & .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .25rem;

    & .cc-attrib {
      display: flex;
      gap: .5rem;

      @include response(md) {
        font-size: .8rem;
        max-width: 75%;
      }
      @include response(lg) {
        max-width: 45%;
        font-size: 1rem;
      }

      & .cc-attrib-img {
        width: 10rem;
        
        & img {
          width: 100%;
          height: auto;

        }

        & a {
          color: $light-color;
          font-weight: 700;
        }
      }

      & .cc-attrib-link {
        font-size: .6rem;
        text-align: left;

        @include response(md) {
          font-size: 1rem;
        }

        & a {
          text-decoration: none;
          color: $light-color;
          font-style: italic;
        }
      }
    }
  }
}