.home-page {
  & .hero {
    display: flex;
    padding: 1rem 0;
    margin-top: 3rem;
    border: .3rem solid rgba(192, 192, 192, 1);
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, .4);

    @include response(md) {
      display: flex;
      justify-content: center;
      padding: 2rem 1rem;
      margin-top: 4.5rem;
      margin-bottom: 1rem;
      border-radius: 2rem;
    }

    & .hero-inner {
      padding: 0 1rem;
      max-width: 75%;
      margin: auto;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}