.home-page {
  height: 100%;
  max-height: 100%;

  .categories {
    padding: 1rem;

    & .row {
      // max-height: 6rem;
      padding: 0;
      margin: 0;

      & .big-button {
        width: 100%;
        height: 100%;
        padding: 0;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      & .card-panel {
        max-width: 100%;
        margin: 0;
        padding: 0;
      }

      & .card-panel img {
        width: 100%;
        height: auto;
      }

      & .card-modal ul li {
        padding-left: 0 !important;
      }

      & .card-modal ul {
        margin: 0;
      }

      & .card-modal ul li {
        padding-left: 1rem !important;
      }
    }

  }

  & .card-modal {
    min-width: 100%;
    max-width: 20rem;

    @include response(md) {
      min-width: 0%;
    }

    & .modal-content {
      & a {
        color: black !important;
      }

      & ul {
        margin: 0;

        & li {
          padding-left: 1rem !important;

          & a,
          & i {
            color: black !important;
          }
        }
      }

      & .menu-lists {
        display: block;

        @include response(md) {
          display: flex;
          justify-content: space-between;

        }
      }
    }
  }

  & .wide-modal {
    width: 100% !important;
    max-width: 100%;

    @include response(md) {
      width: 35rem !important;
      max-width: 50rem;
    }
  }

  & .disclaimers-btn {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 1rem 0;
    font-weight: 700;

    @include response(md) {
      position: absolute;
      bottom: 2rem;
    }
  }
}