.product-variants {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  margin-top: 1rem;
  padding: 0 .5rem .5rem;
  border-bottom: 1px solid $border-color;

  @include response(md) {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  & a {
    text-decoration: none;
    text-align: center;
    color: $dark-color;
    font-size: .8rem;
    font-weight: 600;
    border: 1px solid $border-color;
    border-radius: .25rem;
    padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    box-shadow: 1px 1px 1px $dark-color;

    &:hover {
      color: $hover-color-2;
    }

    &:visited {
      color: $dark-color;
    }

  }
  .active-variant {
    // color: $light-color;
    background: $secondary-color;
    border: 2px solid $secondary-color;
  }
}