.search-results {
  background: $light-color;
  color: $dark-color;
  width: 100%;
  max-width: 60rem;

  & .results-header {
    border-bottom: 1px solid $border-color;
  }

  & h6 {
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem .5rem .5rem 1rem;
    text-align: center;

    @include response(md) {
      font-size: 1.5rem;
    }

    @include response(lg) {
      font-size: 2rem;
    }
  }

  & .container {
    overflow-y: auto;

    & .search-result-row {
      display: flex;
      padding: .5rem 0 .5rem .5rem;
      border-bottom: 1px solid $border-color;


      & .prod-img {
        justify-self: flex-start;

        & img {
          height: 5rem;
          width: 5rem;
          object-fit: contain;
          border: 1px solid black;
          margin: 1rem 0;

          @include response(md) {
            height: 7.5rem;
            width: 7.5rem;
          }
        }
      }

      & .product-summary {
        margin-left: 1rem;

        & a {
          text-decoration: none;
          color: $title-link-color;

          &:hover {
            color: $hover-color-2;
          }

          &:visited {
            color: $title-link-color;
          }
        }

        & h5 {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 0;

          @include response(md) {
            font-size: 1.2rem;
          }
        }

        & h6 {
          font-size: 1rem;
          font-weight: 600;
          text-align: left;
          padding-left: 0;

          @include response(md) {
            font-size: 1.2rem;
          }

          @include response(lg)  {
            font-size: 1.4rem;
          }
        }

        & p {
          font-size: .8rem;

          @include response(md) {
            font-size: 1rem;
          }
        }
      }

      & .product-controls {
        max-height: 10rem;


        & .quantity {
          max-width: 3rem;
          margin-bottom: 0 0 1rem 0;
          margin: auto;
          font-size: 1rem;

          &::before {
            content: 'Qty:';
            position: absolute;
            left: -2.5rem;
            top: 1.4rem;
            color: black;
          }

          & input {
            border: 1px solid black;
            padding: 0 .25rem;
            height: 2rem;
            margin-top: 1rem;
            padding-right: 1rem;
          }
        }

        & .btn-small {
          font-size: .8rem;
          margin-top: .5rem;
          width: 6rem;
          font-weight: 600;
        }
      }
    }

    & .pagenav {
      margin: 0;
      line-height: 1.6rem;
      height: 1.6rem;

      & ul {
        margin: 0 auto;

        & li {

          & a {
            color: $primary-color;

            &:visited {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}