.sidenav-menu {
  height: 100%;
  width: 0;
  max-width: 25rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: $light-color;
  overflow-x: hidden;
  transition: 0.5s;
  
  & a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    display: block;
    transition: 0.3s;
  }

  & a:hover {
    color: $hover-color-2;
  }

  & .close-sidenav {
    position: absolute;
    top: 0;
    right: 1.25rem;
    font-size: 1.25rem;
    margin-left: 3rem;
  }
}