footer {
  justify-self: flex-end;
  width: 100vw;
  padding: .5rem;
  background: $dark-color;

  & .copyright-info {
    width: 100vw;
    display: flex;
    justify-content:  center;
    align-items: center;

    & a {
      color: $secondary-color;
      text-decoration: none;
      font-size: .8rem;

      & img {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
}
