header {
  
  & div.row {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0 !important;
    padding-top: .5rem;

    & .shopping-cart {
      position: relative;

      & small {
        display: none;
        position: absolute;
        background: red;
        color: white !important;
        right: .25rem;
        top: .5rem;
        border-radius: 50%;
        padding: .15rem 0;
        min-width: 1.4rem;
        min-height: 1.4rem;
        text-align: center;
      }
    }
  }
}

