
header {
  background: black;
  width: 100vw;
  justify-self: flex-start;
  // z-index: 1;
  color: $light-color;

  & .header-row-1{
    justify-content: space-between;
    padding: .5rem;

    & i {
      font-size: 1.25rem;
      width: 100%;
      color: $tertiary-color;
    }

    & .menu {
      align-self: flex-start;
    }

    & .site-logo {
      text-align: center;
      font-size: 1.25rem;
      padding: 0 .5rem;
      font-family: 'Roboto', sans-serif;
      border: 3px solid #7b9095;
      border-radius: 1rem;

      @include response(md) {
        font-size: 2rem;
        border-width: 5px;
      }

      & a {
        color: $primary-color;
        font-weight: bold;
        text-decoration: none;
      }

      &:hover {
        border-color: $hover-color-1;
        background-color: $hover-color-1;
      }
    }

    & .cart {
      position: relative;
      justify-self: flex-end;
      align-self: flex-start;

      & .badge {
        display: block;
        position: absolute;
        background: $primary-color;
        color: $light-color;
        right: .5rem;
        top: .7rem;
        border-radius: 50%;
        padding: .15rem;
        min-width: 1.4rem;
        min-height: 1.4rem;
        text-align: center;
      }
    }
  }

  & .header-row-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px black solid;

    & .row-2-content {
      display: flex;
      width: 100%;
      max-width: 50rem;

      & .dept-btn {
        background: $secondary-color;
        font-weight: bold;
        padding: .25rem;
        border: none;
        margin-right: .15rem;
        margin-left: .15rem;
        border-radius: .25rem;
      }

      & .dept-dropdown {
        display: none;
        padding: 1rem;
        top: 5.5rem;
        height: 50%;
        overflow-y: auto;
        position: absolute;
        background-color: $light-color;
        width: auto;
        z-index: 2;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

        @include response(md) {
          top: 7rem;
        }
        
        & ul {
          list-style: none;

          & li {

            & a {
              text-decoration: none;
              color: $title-link-color;
              font-size: .9rem;

              @include response(md) {
                font-size: 1rem;
              }

              &:hover {
                color: $hover-color-2;
              }
            }
          
            & ul {
              padding-left: 1rem;
            }
          }
        }
      }

      & .search-form {
        width: 100%;
        position: relative;

        & .search-input {
          width: 100%;
          max-width: 100%;
          height: 1.8rem;
          border-top-right-radius: .9rem;
          border-bottom-right-radius: .9rem;
          border: solid 1px $dark-color;
        }

        & .search-btn {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 1.8rem;
          border: solid 1px $dark-color;
          background: $secondary-color;
        }
      }
    }
  }
}

.show {
  display: block;
}
