* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $roboto;
  background: $dark-color $bg-image center center;
  background-size: cover;
  line-height: 1.6;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  position: relative;

  & .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($dark-color, .6);
  }
}

