* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: $roboto;
  background: rgba(0, 0, 0, 0.5) $bg-image center center;
  background-size: cover;
  background-position: center / cover;
  line-height: 1.6;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  position: relative;
  word-break: normal;

  & .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  & .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    gap: 0;

    & .content-container {
      height: 100%;
      max-height: 100%;
      max-width: 60rem;
      width: 100%;
      overflow-y: auto;
      gap: 0;

      @include response(md) {
        margin-top: 1.5rem;
      }
    
    }
  }
}

.row {
  display: flex;
  gap: 0;
}