@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.5) url(../img/background.jpg) center center;
  background-size: cover;
  background-position: center / cover;
  line-height: 1.6;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  position: relative;
  word-break: normal; }
  body .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; }

main {
  width: 100%;
  position: relative;
  z-index: 2; }

header div.row {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 0 !important;
  padding-top: .5rem;
  border-bottom: 1px grey solid; }
  header div.row .shopping-cart {
    position: relative; }
    header div.row .shopping-cart small {
      display: none;
      position: absolute;
      background: red;
      color: white !important;
      right: .25rem;
      top: .5rem;
      border-radius: 50%;
      padding: .15rem 0;
      min-width: 1.4rem;
      min-height: 1.4rem;
      text-align: center; }

.sidenav {
  width: 100% !important;
  padding: 1rem; }
  @media screen and (min-width: 48rem) {
    .sidenav {
      width: 35% !important; } }
  @media screen and (min-width: 64rem) {
    .sidenav {
      width: 25% !important; } }
  .sidenav li {
    padding: 0; }
    .sidenav li:first a {
      float: right; }
    .sidenav li a {
      margin-left: 0;
      margin-right: 0;
      padding-right: 0; }
    .sidenav li a:first {
      max-width: 100% !important;
      width: 100% !important;
      text-align: right !important; }

.content-container {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 4.5rem;
  overflow-y: auto;
  padding: 0 1rem;
  border-radius: 1.5rem !important; }
  .content-container h1 {
    font-size: 1.3rem;
    font-weight: 700; }
    @media screen and (min-width: 48rem) {
      .content-container h1 {
        font-size: 1.6rem; } }
  .content-container h2 {
    font-size: 1.2rem;
    font-weight: 700; }
  .content-container ul {
    padding: 0 1.25rem; }
    .content-container ul li {
      padding-bottom: .5rem; }
      .content-container ul li::before {
        content: '\2726';
        padding-right: .5rem; }
  .content-container p {
    padding-bottom: .5rem; }

.category-cards {
  max-width: 100%;
  margin-top: 1rem;
  height: 50vh;
  overflow-y: auto; }
  .category-cards .card-container .category-card {
    display: flex;
    align-items: center;
    padding: .25rem;
    height: 5rem;
    max-height: 5rem;
    border-radius: .75rem; }
    .category-cards .card-container .category-card .category-card-content {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      max-height: 5rem; }
      .category-cards .card-container .category-card .category-card-content a {
        font-size: 2.25rem;
        font-weight: 500;
        font-variant-caps: small-caps;
        padding: 1rem;
        text-align: left;
        height: 100%;
        border-radius: .5rem;
        border: 2px solid lightgrey;
        text-transform: capitalize;
        width: 100%;
        flex: 0 3 auto; }
        @media screen and (min-width: 48rem) {
          .category-cards .card-container .category-card .category-card-content a {
            font-size: 2rem; } }
        .category-cards .card-container .category-card .category-card-content a:hover {
          background: lightgoldenrodyellow !important; }
      .category-cards .card-container .category-card .category-card-content img {
        margin-left: 1rem;
        width: 2rem;
        max-height: auto;
        justify-self: right;
        align-self: center;
        float: right; }

.product-summary-container {
  margin-bottom: 2rem !important; }
  .product-summary-container h1 {
    color: #e60000;
    font-weight: 500;
    font-size: 2.5rem; }
  .product-summary-container .container {
    height: 95vh;
    overflow-y: auto !important;
    top: 4rem; }
    .product-summary-container .container .prod-summary-row {
      padding: .5rem 0 .5rem .5rem;
      border-radius: .5rem; }
      @media screen and (min-width: 64rem) {
        .product-summary-container .container .prod-summary-row {
          max-height: 12rem; } }
      .product-summary-container .container .prod-summary-row .prod-img {
        justify-self: flex-start; }
        .product-summary-container .container .prod-summary-row .prod-img img {
          height: 5rem;
          width: 5rem;
          -o-object-fit: contain;
             object-fit: contain;
          border: 1px solid black;
          margin: 1rem 0; }
          @media screen and (min-width: 48rem) {
            .product-summary-container .container .prod-summary-row .prod-img img {
              height: 6rem;
              width: 6rem; } }
      .product-summary-container .container .prod-summary-row .product-summary h5 {
        font-size: 1rem !important;
        font-weight: bold;
        margin-bottom: 0; }
        @media screen and (min-width: 48rem) {
          .product-summary-container .container .prod-summary-row .product-summary h5 {
            font-size: 1.2rem !important; } }
      .product-summary-container .container .prod-summary-row .product-summary h6 {
        font-size: 1rem;
        font-weight: 600; }
        @media screen and (min-width: 48rem) {
          .product-summary-container .container .prod-summary-row .product-summary h6 {
            font-size: 1.4rem !important; } }
      .product-summary-container .container .prod-summary-row .product-summary p {
        font-size: .8rem !important; }
        @media screen and (min-width: 48rem) {
          .product-summary-container .container .prod-summary-row .product-summary p {
            font-size: 1rem !important; } }
      .product-summary-container .container .prod-summary-row .product-controls {
        max-height: 10rem; }
        .product-summary-container .container .prod-summary-row .product-controls .quantity {
          max-width: 3rem;
          margin-bottom: 0 0 1rem 0 !important;
          margin: auto;
          font-size: 1rem !important; }
          .product-summary-container .container .prod-summary-row .product-controls .quantity::before {
            content: 'Qty:';
            position: absolute;
            left: -2.5rem;
            top: 1.4rem;
            color: black; }
          .product-summary-container .container .prod-summary-row .product-controls .quantity input {
            border: 1px solid black;
            padding: 0 .25rem;
            height: 2rem;
            margin-top: 1rem;
            padding-right: 1rem; }
        .product-summary-container .container .prod-summary-row .product-controls .btn-small {
          font-size: .8rem !important;
          margin-top: .5rem;
          width: 6rem;
          font-weight: 600; }
    .product-summary-container .container .pagenav {
      margin: 0 !important;
      line-height: 1.6rem;
      height: 1.6rem; }
      .product-summary-container .container .pagenav ul {
        margin: 0 auto !important; }
        .product-summary-container .container .pagenav ul li a {
          color: #e60000; }

footer {
  padding-top: .5rem !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px grey solid;
  z-index: 2; }
  footer .footer-copyright {
    max-height: 1.3rem;
    padding: 0 !important;
    margin: 0 !important; }
    footer .footer-copyright .copyright-info {
      display: flex;
      gap: 1rem;
      justify-content: center;
      font-size: .8rem;
      text-align: left; }
    footer .footer-copyright .container .row p {
      padding: 0 !important;
      text-align: left;
      margin: 0; }
    footer .footer-copyright .container .row img {
      width: auto;
      height: 80% !important; }

.home-page {
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 6rem;
  left: 0rem;
  right: 0rem;
  bottom: 3rem; }
  @media screen and (min-width: 64rem) {
    .home-page {
      top: 8rem; } }
  .home-page h1 {
    margin-top: .25rem;
    font-size: 1.8rem; }
  .home-page .container {
    position: fixed;
    left: 0;
    right: 0;
    top: 9rem;
    bottom: 0;
    overflow-y: auto; }
    @media screen and (min-width: 64rem) {
      .home-page .container {
        top: 12rem; } }
    .home-page .container .row:last-child {
      margin-bottom: 4rem; }
    .home-page .container .row .dept-btn {
      border: solid 3px rgba(255, 0, 0, 0.6);
      border-radius: .5rem;
      padding: 1rem !important;
      background: rgba(0, 0, 0, 0.6); }
      .home-page .container .row .dept-btn:hover {
        background-color: lightgoldenrodyellow; }
      .home-page .container .row .dept-btn a {
        padding: 0 !important;
        font-size: .8rem;
        width: 100%;
        height: 100%; }
        .home-page .container .row .dept-btn a a:hover {
          background-color: lightgoldenrodyellow; }
      .home-page .container .row .dept-btn img {
        width: 40%;
        height: 40%;
        margin-top: .5rem;
        margin-bottom: 0;
        opacity: 0.8; }

.product-main {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 5rem; }
  .product-main .container {
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .product-main .container .product-header h1 {
      font-size: 1.6rem !important;
      font-weight: bold;
      padding-top: .5rem;
      margin-bottom: 0.5rem;
      margin-top: 0; }
    .product-main .container .product-header .product-image {
      margin: 1rem !important;
      padding: 0 !important;
      height: 7.5rem !important;
      width: 7.5rem !important; }
      .product-main .container .product-header .product-image img {
        height: 100%;
        width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        box-shadow: 1px 1px 1px grey;
        border: 1px solid grey; }
    .product-main .container .product-header .product-controls form h5 {
      font-size: 1.2rem !important;
      margin-bottom: 0; }
    .product-main .container .product-header .product-controls form .input-field {
      width: 100%; }
    .product-main .container .product-header .product-controls form .quantity {
      max-width: 3rem !important;
      margin-bottom: 0 !important;
      margin-right: .5rem !important;
      font-size: 1rem !important; }
      .product-main .container .product-header .product-controls form .quantity::before {
        content: "Qty:";
        position: absolute;
        left: -2.5rem;
        top: .7rem;
        color: black; }
      .product-main .container .product-header .product-controls form .quantity input#qty {
        padding: 0;
        margin: 0;
        height: 1.2rem;
        border: 1px solid lightgrey;
        padding: 0.125rem; }
    .product-main .container .product-header .product-controls form .btn-small {
      font-size: 0.7rem !important;
      margin-top: 0.5rem !important;
      height: 2rem !important; }
    .product-main .container .product-description .description-content h5 {
      font-size: 1.4rem !important;
      font-weight: bold !important; }
    .product-main .container .product-description .description-content p {
      padding-top: 1rem !important; }
      @media screen and (min-width: 48rem) {
        .product-main .container .product-description .description-content p {
          padding-right: 1rem; } }
    .product-main .container .product-accessories h6 {
      font-weight: bold;
      margin: .67rem; }
    .product-main .container .product-accessories .accessory-row {
      padding-top: 1.25rem; }
      .product-main .container .product-accessories .accessory-row img {
        border: 1px solid grey;
        box-shadow: 1px 1px 1px grey; }
    .product-main .container .product-source {
      margin-bottom: 1rem;
      margin-left: .67rem; }
      .product-main .container .product-source h6 {
        font-weight: bold;
        margin-left: .67rem 0; }
      .product-main .container .product-source p:nth-child(n + 2) {
        padding-top: 0.5rem; }
      .product-main .container .product-source .source {
        margin-left: 1rem; }

.cart-div {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 5rem;
  background-color: white !important;
  overflow-y: auto;
  z-index: 2; }
  .cart-div .sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    padding-bottom: .25rem;
    border-bottom: 1px grey solid; }
    .cart-div .sticky h1 {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 1rem 0; }
    .cart-div .sticky .total-row h6 {
      font-size: 1.2rem !important;
      font-weight: bold; }
    .cart-div .sticky .total-row .empty-cart {
      font-weight: bold;
      padding: .25rem; }
  .cart-div .cart-items-container {
    position: relative;
    overflow-y: auto;
    width: 100%; }
    .cart-div .cart-items-container .product-row {
      padding-top: 1rem; }
      .cart-div .cart-items-container .product-row:nth-child(n+2) {
        border-top: 1px solid grey; }
      .cart-div .cart-items-container .product-row .prod-img img {
        width: 5rem;
        height: 5rem;
        -o-object-fit: contain;
           object-fit: contain;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px grey; }
      .cart-div .cart-items-container .product-row .row .prod-title {
        font-size: 1rem;
        font-weight: bold; }
        @media screen and (min-width: 48rem) {
          .cart-div .cart-items-container .product-row .row .prod-title {
            font-size: 1.2rem; } }
      .cart-div .cart-items-container .product-row .row .prod-total {
        font-size: 1rem;
        font-weight: bold; }
        @media screen and (min-width: 48rem) {
          .cart-div .cart-items-container .product-row .row .prod-total {
            font-size: 1.2rem !important; } }
      .cart-div .cart-items-container .product-row .row .prod-qty {
        display: inline; }
        .cart-div .cart-items-container .product-row .row .prod-qty button {
          padding: 0;
          font-size: .75rem !important; }
          @media screen and (min-width: 48rem) {
            .cart-div .cart-items-container .product-row .row .prod-qty button {
              font-size: 1rem !important;
              padding: .2rem; } }
        .cart-div .cart-items-container .product-row .row .prod-qty input {
          max-width: 2rem;
          border: 1px solid grey;
          height: 1.2rem;
          padding-left: .5rem;
          font-size: .8rem; }
          @media screen and (min-width: 48rem) {
            .cart-div .cart-items-container .product-row .row .prod-qty input {
              font-size: 1rem;
              height: 1.6rem; } }
        .cart-div .cart-items-container .product-row .row .prod-qty .remove-item {
          margin-left: 1rem; }

.browse-page-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 2.5rem; }
  .browse-page-container h3 {
    font-size: 1.2rem;
    margin-left: .5rem !important; }
  .browse-page-container .browse-product-row {
    margin: 1rem 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px lightgrey solid !important; }
    .browse-page-container .browse-product-row .prod-img {
      padding: 0;
      margin: 0;
      justify-self: flex-start; }
      .browse-page-container .browse-product-row .prod-img img {
        display: block;
        width: 4rem;
        height: 4rem;
        -o-object-fit: contain;
           object-fit: contain;
        margin: 0 auto;
        margin: .5rem 0;
        border: 1px solid lightgrey;
        box-shadow: 2px 2px grey;
        margin-left: .25rem; }
        @media screen and (min-width: 48rem) {
          .browse-page-container .browse-product-row .prod-img img {
            margin: 1rem;
            width: 4.5rem;
            height: 4.5rem; } }
    .browse-page-container .browse-product-row .prod-info {
      display: block;
      line-height: 1; }
      .browse-page-container .browse-product-row .prod-info a {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1; }
        @media screen and (min-width: 48rem) {
          .browse-page-container .browse-product-row .prod-info a {
            font-size: 1.2rem; } }
        .browse-page-container .browse-product-row .prod-info a:hover {
          color: #e60000; }
      @media screen and (min-width: 48rem) {
        .browse-page-container .browse-product-row .prod-info table {
          max-width: 50%; } }
      .browse-page-container .browse-product-row .prod-info tr {
        border-style: none !important; }
      .browse-page-container .browse-product-row .prod-info td {
        font-size: .8rem;
        font-weight: bold;
        vertical-align: top; }
        @media screen and (min-width: 48rem) {
          .browse-page-container .browse-product-row .prod-info td {
            font-size: 1rem; } }
        .browse-page-container .browse-product-row .prod-info td a {
          font-size: .8rem; }
          @media screen and (min-width: 48rem) {
            .browse-page-container .browse-product-row .prod-info td a {
              font-size: 1rem; } }
    .browse-page-container .browse-product-row .prod-price-controls h6 {
      font-size: 1rem;
      font-weight: bold; }
    .browse-page-container .browse-product-row .prod-price-controls label {
      font-weight: bold !important;
      color: black; }
    .browse-page-container .browse-product-row .prod-price-controls input {
      width: 2rem;
      border: 1px solid grey;
      line-height: 1rem;
      max-height: 1rem;
      text-align: center;
      font-size: .8rem; }
      @media screen and (min-width: 48rem) {
        .browse-page-container .browse-product-row .prod-price-controls input {
          font-size: 1rem;
          line-height: 1.2rem;
          max-height: 1.2rem; } }
    .browse-page-container .browse-product-row .prod-price-controls .add-to-cart-btn {
      padding: .25rem .5rem;
      border-radius: .5rem;
      font-size: .8rem; }
    .browse-page-container .browse-product-row .product-summary {
      font-size: .9rem; }

.product-summary-section {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 3rem; }
  @media screen and (min-width: 64rem) {
    .product-summary-section {
      top: 6rem; } }
  .product-summary-section h1 {
    color: #e60000 !important;
    font-size: 1.2rem !important;
    font-weight: 300;
    text-align: center;
    padding: 1rem 0 !important;
    border: 1px solid red; }
    @media screen and (min-width: 48rem) {
      .product-summary-section h1 {
        font-size: 2rem !important; } }
  .product-summary-section .container {
    position: absolute;
    top: 8rem;
    bottom: 4rem;
    left: 0;
    right: 0;
    overflow-y: auto; }
    @media screen and (min-width: 64rem) {
      .product-summary-section .container {
        bottom: 6rem; } }
    .product-summary-section .container img {
      border: 1px solid grey;
      box-shadow: 1px 1px 1px grey;
      width: 80%;
      height: 80%;
      margin-top: 1rem;
      margin-bottom: .5rem; }
    .product-summary-section .container h5 {
      font-size: 1.1rem; }
    @media screen and (min-width: 64rem) {
      .product-summary-section .container h6 {
        font-size: 1.5rem; } }

.collection-nav {
  position: fixed;
  bottom: 3.25rem;
  height: 2rem;
  width: 100%;
  border: transparent;
  z-index: 2; }
  .collection-nav ul li a {
    font-weight: 700; }
