.departments-container {
  top: 4rem;
  height: 150vh;
  overflow: auto;

  & h1 {
    color: $primary-color;
    background-color: black;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;

    @include response(md) {
      font-size: 2rem;
    }
  }

  & .row {

    &:last-child {
      margin-bottom: 4rem;
    }
    & .card {
      height: 6rem;
      border: 1px solid red;
      border-radius: .5rem;
      padding: 0;

      @include response(md) {
        margin: .5rem;
      }

      & .card-title {
        background:black;
        border-radius: .4rem .4rem 0 0;

        & h3 {
          font-size: 1.2rem;
          padding: .25rem;
          margin: 0;

          @include response(md) {
            padding: .5rem;
          }

          &:hover {
            color: lightgoldenrodyellow;
          }
        }

        & a {
          font-size: 1.2rem;
          color: $primary-color !important;
          font-weight: bold;

        }
      }

      & .card-body {
        padding: .25rem;

        & a {
          color: black;
        }
      }
    }

  }
}