.product-summary-section {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 3rem;

  & h1 {
    color: $primary-color !important;
    background-color: black;
    font-size: 1.2rem !important;
    font-weight: 300;
    text-align: center;

    @include response(md) {
      font-size: 2rem !important;
    }

  }

  & .container {
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    & img {
      border: 1px solid grey;
      box-shadow: 1px 1px 1px grey;
      width: 80%;
      height: 80%;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }

    & h5 {
      font-size: 1.1rem;
    }

    & h6 {
      @include response(lg) {
        font-size: 1.5rem;
      }
    }
  }

}

.collection-nav {
  position: absolute;
  bottom: 4rem;
  height: 2rem;
  width: 100%;
  border: transparent;

  & ul li a {
    font-weight: 700;
  }
}