.dept-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .dept-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    height: calc(100vh - 25vmax);
    overflow-y: auto;

    @include response(md) {
      margin-top: 1rem;
      height: calc(100vh - 20vmax);
    }

    @include response(lg) {
      height: calc(100vh - 15vmax);
    }

    & .dept-title {
      width: 100%;
      color: $dark-color;
      background: $row-bg-color;
      font-size: .7rem;
      font-weight: 300;
      margin-top: .1rem;
      justify-content: center;
      border-bottom: 1px solid $border-color;
      align-self: flex-start;

      @include response(lg) {
        font-size: 1.2rem;
      }
    }

    & h1 {
      border-radius: 1rem;
      padding: .5rem;

      @include response(md) {
        font-size: 1.5rem;
      }
    }

    & .prod-summary-container {
      width: 100%;
      align-self: flex-start;
      background-color: $light-color;


      & h3 {
        font-size: 1rem;
        padding: .5rem;
        text-align: center;

        @include response(md) {
          font-size: 1.2rem;
          padding: .5rem 1rem;
        }
      }

      & .prod-summary-row {
        display: flex;
        background: $light-color;
        border-bottom: 1px $border-color solid;
        padding: .5rem;
        width: 100%;

        & .prod-img {

          & img {
            width: 5rem;
            height: 5rem;
            border: 1px solid $tertiary-color;
            margin-right: .5rem;

            @include response(md) {
              margin-right: 1rem;
              width: 7.5rem;
              height: 7.5rem;
            }
          }
        }

        & .product-summary {

          & p {
            font-size: .8rem;

            @include response(md) {
              font-size: 1rem;
            }
          }

          & h5 {
            font-size: 1rem;

            @include response(md) {
              font-size: 1.2rem;
            }
          }

          & h6 {
            font-size: .8rem;

            @include response(md) {
              font-size: 1rem;
            }
          }

          & a {
            color: $title-link-color;
            text-decoration: none;

          }
        }
      }
    }
  }

  & .pager-nav-div {
    background: $row-bg-color;
    justify-content: center;
    padding: .25rem 0;
    width: 100%;
    align-self: flex-end;

    & form {
      font-size: .8rem;
      font-weight: 500;

      @include response(md) {
        font-size: 1rem;
      }

      & select {
        padding: .1rem;
      }
    }
  }
}