main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
  height: 100%;


  & .hero-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40vh;
    margin: 3rem 0;
    align-items: center;
    justify-content: space-between;

    @include response(md) {
      height: 50vh;
    }

    & .hero-image {
    border: 4px solid $ctrl-bg-color;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    }

    @include response(md) {
      width: 60%;
    }

    @include response(lg) {
      width: 80%;
    }

    & img {
      width: 100%;
      height: auto;
    }

    & .subtitle {
      margin-top: 3rem;
      font-size: 1rem;
      color: $primary-color;
      background: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      text-align: center;
      font-style: italic;
      border: 2px solid $ctrl-bg-color;
      border-radius: 1rem;
  
      @include response(md) {
        margin-top: 4rem;
        font-size: 1.5rem;
        padding: 2rem;
      }
    }
  
  }
}
