.home-page {
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 6rem;
  left: 0rem;
  right: 0rem;
  bottom: 3rem;

  & h1 {
    margin-top: .25rem;
    font-size: 1.8rem;
  }

  & .container {
    position: fixed;
    left: 0;
    right: 0;
    top: 9rem;
    bottom: 0;
    // height: 90%;
    overflow-y: auto;

    & .row {

      &:last-child {
        margin-bottom: 4rem;
      }

      & .dept-btn {
        border: solid 3px rgba(255, 0, 0, 0.6);
        border-radius: .5rem;
        padding: 1rem !important;
        background: rgba(0,0,0,.6);

        &:hover {
          background-color: lightgoldenrodyellow;
        }

        & a {
          padding: 0 !important;
          font-size: .8rem;
          width: 100%;
          height: 100%;

          a:hover {
            background-color: lightgoldenrodyellow;
          }
        }

        & img {
          width: 40%;
          height: 40%;
          margin-top: .5rem;
          margin-bottom: 0;
          opacity: 0.8;
        }
      }
    }
  }

  // & .categories-container {
  //   position: absolute;
  //   top: 3rem;
  //   left: 0;
  //   right: 0;
  //   bottom: 3rem;
  //   overflow-y: auto;

  //   @include response(md) {
  //     top: 8rem;
  //   }

  //   @include response(lg) {
  //     top: 10rem;
  //   }

  //   & .cat-btn {
  //     border: solid 3px red;
  //     border-radius: .5rem;
  //     // margin-bottom: 1rem;
  //     background-color: rgba(0, 0, 0, .5);
  //     padding: 1rem 0;

  //     &:hover {
  //       background: lightgoldenrodyellow;
  //     }

  //     & .big-button {
  //       width: 100%;
  //       height: 100%;
  //       padding: .5rem;

  //       & img {
  //         object-fit: cover;
  //         width: 20%;
  //         height: 20%;
  //       }
  //     }


  //     & a {
  //       font-size: 1.4rem;
  //       font-weight: bold;
  //       margin-bottom: .25rem;
  //       background-color: transparent !important;
  //       box-shadow: none !important;
  //       border: none !important;
  //     }
  //   }

  //   & .card-modal {
  //     min-width: 100%;
  //     max-width: 20rem;

  //     @include response(md) {
  //       min-width: 0%;
  //     }

  //     & .modal-content {
  //       & a {
  //         color: black !important;
  //       }

  //       & ul {
  //         margin: 0;

  //         & li {
  //           padding-left: 1rem !important;

  //           & a,
  //           & i {
  //             color: black !important;
  //           }
  //         }
  //       }

  //       & .menu-lists {
  //         display: block;

  //         @include response(md) {
  //           display: flex;
  //           justify-content: space-between;

  //         }
  //       }
  //     }
  //   }

  //   & .wide-modal {
  //     width: 100% !important;
  //     max-width: 100%;

  //     @include response(md) {
  //       width: 35rem !important;
  //       max-width: 50rem;
  //     }
  //   }
  // }
}