.product-section {
  & .product-main {
    height: 85vh;
    overflow-y: auto;

    & h1 {
      font-size: 1.6rem !important;
      font-weight: bold;
      padding-left: 1rem;
      padding-top: 0.5rem;
      margin-bottom: 1rem;
    }

    & .product-main-content {
      & .product-image {
        & img {
          max-height: 9rem;
          max-width: 9rem;
          object-fit: contain;
          box-shadow: 1px 1px 1px grey;
          border: 1px solid grey;
        }
      }

      & .product-controls {

        & form {
          
          & h5 {
            font-size: 1.4rem !important;
            margin-bottom: 0;
          }

          & .input-field {
            width: 100%;
          }

          & .quantity {
            max-width: 3rem !important;
            margin-bottom: 0 0 1rem 0 !important;
            font-size: 1rem !important;

            &::before {
              content: "Qty:";
              position: absolute;
              left: -2.5rem;
              color: black;
            }

            input#qty {
              padding: 0;
              margin: 0;
              height: 1.2rem;
              border: 1px solid lightgrey;
              padding: 0.125rem;
            }
          }

          & .btn-small {
            font-size: 0.7rem !important;
            margin-top: 0.5rem;
            
          }
        }
      }

      & .product-accessories {
        margin-bottom: 1rem;

        & .accessory-list {
          margin-bottom: 1rem;

          & .accessory-item {
            margin-bottom: 1rem;

            & a {
              background: lightblue !important;

              & img {
                height: 3rem;
                width: 3rem;
                object-fit: contain;
                border: 1px solid grey;
                box-shadow: 1px 1px 1px grey;
              }
            }
          }
        }
      }

      & .product-source {
        margin-bottom: 1rem;
        border-top: 2px solid black;

        & p:nth-child(n + 2) {
          padding-top: 0.5rem;
        }

        & .source {
          margin-left: 1rem;
        }
      }
    }

    // product-main-content
  }

  // product-main
}

// product-section

.product-description {
  & .description-content {
    & h5 {
      font-size: 1.4rem !important;
      font-weight: bold !important;
    }

    & p {
      padding-bottom: 1rem !important;
    }
  }
}
