.product-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .product-page-content {
    background: $light-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    height: calc(100vh - 25vmax);
    overflow-y: auto;
    padding-bottom: 3rem;

    @include response(md) {
      height: calc(100vh - 20vmax);
    }

    @include response(lg) {
      height: calc(100vh - 15vmax);
    }

    & .summary-row {
      display: flex;
      padding: .5rem;
      width: 100%;
      border-bottom: 1px solid $border-color;

      @include response(md) {
        padding: 1rem;
      }

      & .product-image {

        & img {
          width: 5rem;
          height: 5rem;
          border: 1px solid $border-color;
          box-shadow: 1px 1px 1px $border-color;
          margin-right: .5rem;

          @include response(md) {
            margin-right: 1rem;
          }

          @include response(lg) {
            height: 7rem;
            width: 7rem;
          }
        }
      }

      & .product-summary {
        width: 100%;

        & h1 {
          font-size: 1rem;

          @include response(md) {
            font-size: 1.2rem;
          }
        }
      }

      & .product-controls {
        justify-self: flex-end;
        width: 10rem;
        text-align: right;

        @include response(md) {
          width: 25%;
        }

        & h5 {
          font-size: .9rem;
          text-align: right;
          margin-bottom: .5rem;

          @include response(md) {
            font-size: 1.1rem;
          }

          @include response(lg) {
            font-size: 1.3rem;
          }
        }

        & .input-field {
          width: 100%;
          margin-bottom: .5rem;
        }

        & .quantity,
        & label {
          font-size: .8rem;

          @include response(md) {
            font-size: 1rem;
          }
        }

        & .btn-small {
          font-size: 0.7rem;
          font-weight: bold;
          margin-top: .25rem;
          padding: .25rem .5rem;
          color: $dark-color;
          background: $secondary-color;
          box-shadow: 1px 1px 1px $border-color;
          border: none;
          border-radius: .25rem;
        }
      }
    }

    & .product-description {
      width: 100%;

      & h5 {
        font-size: 1rem;

        @include response(md) {
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }
      }

      & .description-content {
        width: 100%;
        padding: .5rem;
        flex: 1 1 auto;
        font-size: .9rem;
        border-bottom: 1px solid $border-color;

        @include response(md) {
          width: 70%;
          padding: 1rem;
          font-size: 1rem;
        }

        & li {
          margin-left: 1.5rem;

          @include response(md) {
            margin-left: 2rem;
          }
        }

        & p {
          padding-bottom: .75rem;
        }
      }
    }

    & .product-details {
      display: block;
      width: 100%;
      min-width: 100%;
      padding: .5rem;
      border-bottom: 1px solid $border-color;

      & h5 {
        width: 100%;
        font-size: 1rem;

        @include response(md) {
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }
      }

      @include response(md) {
        width: 30%;
        padding: 1rem;
      }

      @include response(lg) {
        width: 25%;
      }

      & td {
        font-size: .8rem;

        @include response(md) {
          font-size: 1rem;
        }

        &:nth-child(even) {
          padding-left: 1rem;
        }

        &:nth-child(odd) {
          font-weight: bold;
        }
      }
    }

    & .product-accessories {
      padding: .5rem;
      border-bottom: 1px solid $border-color;

      @include response(md) {
        padding: 1rem;
      }

      & h5 {
        font-size: 1rem;

        @include response(md) {
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }
      }

      & .accessory-row {
        padding: .5rem;

        @include response(md) {
          padding: 1rem;
        }

        & img {
          max-height: auto;
          max-width: 5rem;
          border: 1px solid $border-color;
          box-shadow: 1px 1px 1px $border-color;
          margin-right: .5rem;

          @include response(md) {
            margin-right: 1rem;
          }
        }

        & a {
          text-decoration: none;
          font-size: .9rem;
          font-weight: 500;
          color: $title-link-color;

          @include response(md) {
            font-size: 1.1rem;
          }

          &:hover {
            color: $hover-color-2;
          }
        }
      }
    }

    & .product-source {
      display: block;
      padding: .5rem;
      width: 100%;

      @include response(md) {
        padding: 1rem;
      }

      & h5 {
        font-size: 1rem;
        margin-bottom: .5rem;

        @include response(md) {
          font-size: 1.2rem;
        }
      }

      & a {
        text-decoration: none;
        color: $title-link-color;

        &:hover {
          color: $hover-color-2;
        }

        &:visited {
          color: $title-link-color;
        }
      }

      & p {
        font-size: .8rem;

        @include response(md) {
          font-size: 1rem;

        }
      }
    }
  }
}