.shopping-cart-container {
  overflow: scroll;
  margin-top: 3rem;
  border-bottom: 1px solid grey;

  & .cart-total-row {

    & h6 {
      font-size: 1rem !important;
      font-weight: bold;

      & .cart-total {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  & .product-row {
    border-top: 1px solid grey;
    padding-top: 1rem;
    gap: 0;
    height: 6rem;
    margin: 1rem 0;

    & .prod-img {
      & img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        border: 1px solid #ccc;
      }
    }

    & .prod-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      height: 100%;

      & .prod-title {
        line-height: .8rem;

        & a {
          font-size: .8rem;
          font-weight: bold;
        }
      }

      & .prod-qty {
        width: 100%;
        font-size: 1rem;

        button {
          font-size: .8rem;
          height: 1.2rem;
          width: 1.2rem;
        }

        & input {
          max-width: 3rem;
          border: 1px solid grey;
          line-height: 1rem;
          max-height: 1rem;
          text-align: center;
          font-size: .8rem;
        }

        & .remove-item {
          margin-left: 2rem;
        }
      }
    }

    & .prod-total {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  // & .product-row {
  //   border-bottom: 1px solid grey;
  //   margin-bottom: 1rem;
  //   // padding-bottom: .5rem;

  //   & .prod-row-img {
  //     margin-left: .5rem;

  //     & img {
  //       width: 5rem;
  //       height: 5rem;
  //       object-fit: contain;
  //       border: 1px solid #ccc;
  //       box-shadow: 1px 1px 1px grey;
  //     }
  //   }

  //   & .prod-row-name-and-qty {
  //     background: pink;
  //     flex: 1 2 auto !important;

  //     & .prod-row-item-title {
  //       font-size: .8rem;
  //       font-weight: bold;

  //       @include response(md) {
  //         font-size: 1.1rem;
  //       }
  //     }

  //     & .input-field {

  //       & input {
  //         max-width: 2rem;
  //         border: 1px solid grey;
  //         height: 1.2rem;
  //         padding-left: .5rem;

  //       }

  //       & .remove-item {
  //         margin-left: 2rem;
  //       }
  //     }
  //   }

  //   & .prod-row-total {
  //     font-size: 1rem;
  //     font-weight: bold;

  //     @include response(md) {
  //       font-size: 1.2rem;
  //     }
  //   }
  // }
}