.shopping-cart {
  background: $light-color;
  align-content: center;

  & h1 {
    text-align: center;
    margin-bottom: .5rem;

    @include response(md) {
      margin-bottom: 1rem;
    }
  }

  & .total-row {
    width: 100%;
    padding: .5rem;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    @include response(md) {
      padding: 1rem;
    }

    & .empty-cart-button {
      & button {
        background: $secondary-color;
        font-weight: 700;
        padding: .25rem .5rem;
        border: none;
        border-radius: .25rem;
        box-shadow: 1px 1px 1px $border-color;
      }
    }

    & .cart-total-div {
      align-self: flex-start;
    }
  }

  & .cart-items-container {
    width: 100%;

    & .product-row {
      width: 100%;
      padding: .5rem;
      border-bottom: 1px solid $border-color;
    
      @include response(md) {
        padding: 1rem;
      }

      & .prod-img {

        & img {
          max-width: 5rem;
          height: auto;
          border: 1px solid $border-color;
          box-shadow: 1px 1px 1px $border-color;
          margin-right: .5rem;

          @include response(md) {
            margin-right: 1rem;
          }
        }
      }
    }

    & .product-data {
      width: 100%;

      & .title-and-total-div {
        display: flex;
        justify-content: space-between;

        & .prod-title {
          line-height: 1;
          & a {
            color: $title-link-color;
            text-decoration: none;
            font-size: .8rem;

            @include response(md) {
              font-size: 1.2rem;
            }
          }
        }

        & .prod-total {
          font-size: .9rem;
          text-align: right;
          width: 8rem;
          font-weight: 700;

          @include response(md) {
            font-size: 1.2rem;
            width: 10rem;
          }
        }
      }

      & .prod-qty {
        font-size: 1rem;

        & input {
          max-width: 2rem;
        }
      }
    }
  }
}


