.cart-div {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 5rem;
  background-color: white !important;
  overflow-y: auto;
  z-index: 2;

  & .sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    padding-bottom: .25rem;
    border-bottom: 1px grey solid;

    & h1 {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 1rem 0;
    }

    & .total-row {

      & h6 {
        font-size: 1.2rem !important;
        font-weight: bold;
      }

      & .empty-cart {
        font-weight: bold;
        padding: .25rem;
      }

    }

  }

  & .cart-items-container {
    position: relative;
    overflow-y: auto;
    width: 100%;

    & .product-row {
      padding-top: 1rem;

      &:nth-child(n+2) {
        border-top: 1px solid grey;
      }

      & .prod-img {

        & img {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          border: 1px solid #ccc;
          box-shadow: 1px 1px 1px grey;
        }
      }

      & .row {

        & .prod-title {
          font-size: 1rem;
          font-weight: bold;

          @include response(md) {
            font-size: 1.2rem;
          }
        }

        & .prod-total {
          font-size: 1rem;
          font-weight: bold;
  
          @include response(md) {
            font-size: 1.2rem !important;
          }
        }  

        & .prod-qty {
          display: inline;

          & button {
            padding: 0;
            font-size: .75rem !important;

            @include response(md) {
              font-size: 1rem !important;
              padding: .2rem;
            }
          }

          & input {
            max-width: 1.5rem;
            border: 1px solid grey;
            height: 1.2rem;
            padding-left: .5rem;
            font-size: .8rem;

            @include response(md) {
              font-size: 1rem;
              height: 1.6rem;
            }
          }

          & .remove-item {
            margin-left: 1rem;
          }
        }
      }

    }
  }
}
