{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main class="missing-page-main white-text">

  <h3 class="center">Requested file is missing</h3>

  <div class="crawl">
    <p>This is Free Trader Beowulf, calling anyone...</p>
    <p>Mayday, Mayday...</p>
    <p>We are under attack...</p>
    <p>main drive is gone...</p>
    <p>turret number one is not responding...</p>
    <p>Mayday...</p>
    <p>Losing cabin pressure fast...</p>
    <p>calling anyone...</p>
    <p>please help...</p>
    <p>This is Free Trader Beowulf...</p>
    <p>Mayday...</p>
  </div>
</main>


{% include '_site-footer.njk' %}
{% include '_foot.njk' %}

