{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main class="missing-page-main white-text">

  <section>
  <h3 class="center">Requested file is missing</h3>

  <div class="container">
    <div class="row">
      <div class="crawl col s12 m10 offset-m1">
        <p>"This is Free Trader Beowulf, calling anyone... Mayday, Mayday... We are under attack... main drive is gone... turret number one is not responding... Mayday... Losing cabin pressure fast... calling anyone... please help... This is Free Trader Beowulf... Mayday..."</p>
      </div>
    </div>
  </div>
  </section>
</main>


{% include '_site-footer.njk' %}
{% include '_foot.njk' %}

