<div class="category-cards container">

  <div class="row">
    
    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#electronics-modal" class="modal-trigger btn big-button black red-text">
            Electronics
            <img src="img/electronics.svg" alt="Electronics">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#medical-modal" class="modal-trigger btn big-button black red-text">
            Medical
            <img src="img/medical.svg" alt="Medical">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#personal-items-modal" class="modal-trigger btn big-button black red-text">
            Personal Items
            <img src="img/personal-items.svg" alt="Personal Items">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#protections-modal" class="modal-trigger btn big-button black red-text">
            Protections
            <img src="img/protections.svg" alt="Protections">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#robots-modal" class="modal-trigger btn big-button black red-text">
            Robots
            <img src="img/robots.svg" alt="Robots">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#vehicles-modal" class="modal-trigger btn big-button black red-text">
            Vehicles
            <img src="img/vehicles.svg" alt="Vehicles">
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 card-container">
      <div class="card-panel black category-card">
        <div class="category-card-content">
          <a href="#weapons-modal" class="modal-trigger btn big-button black red-text">
            Weapons
            <img src="img/weapons.svg" alt="Weapons">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Electronics Category Modal Menu -->
<div id="electronics-modal" class="modal card-modal">
  <div class="modal-content">

    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    
    <h6>Electronics</h6>
    
    <div class="menu-lists">
      <div>
        <ul>
          <li><a href="#">Communications Gear</a></li>
          <li><a href="#">Computers</a></li>
          <li><a href="#">Emitters</a></li>
          <li><a href="#">Power Supplies</a></li>
          <li><a href="#">Programes</a></li>
          <li><a href="#">Sensory Aids</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- Medical Modal Menu -->
<div id="medical-modal" class="modal card-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Medical</h6>
    <div class="menu-lists">
      <ul>
        <li><a href="#">Cyberware</a></li>
        <li><a href="#">Medical Goods</a></li>
        <li><a href="#">Drugs</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Personal Items Modal Menu -->
<div id="personal-items-modal" class="modal card-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Personal Items</h6>
    <div class="menu-lists">
      <ul>
        <li><a href="#">Breathing Apparatus</a></li>
        <li><a href="#">Food & Drinks</a></li>
        <li><a href="#">Construction Materials</a></li>
        <li><a href="#">Structures</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Protections Modal Dialog -->
<div id="protections-modal" class="modal card-modal wide-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Protections</h6>

    <div class="menu-lists">
        <ul>
          <li><a href="#">Armor</a></li>
          <li><a href="#">Protective Gear</a></li>
          <li><a href="#">Contstruction Materials</a></li>
          <li><a href="#">Shelters</a></li>
        </ul>
      </div>
    </div>
</div>

<!-- Robots Modal Menu -->
<div id="robots-modal" class="modal card-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Robots</h6>
    <div class="menu-lists">
      <ul>
        <li><a href="#">Automatons</a></li>
        <li><a href="#">Drones</a></li>
        <li><a href="#">Robots</a></li>
        <li><a href="#">Strangeforms</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Vehicles Modal Menu -->
<div id="vehicles-modal" class="modal card-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Vehicles</h6>
    <div class="menu-lists">
      <ul>
        <li><a href="#">Vehicles</a></li>
        <li><a href="#">Small Craft</a></li>
        <li><a href="#">Space Craft</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Weapons Modal Menu -->
<div id="weapons-modal" class="modal card-modal">
  <div class="modal-content">
    <a class="modal-close">
      <i class="material-icons right">close</i>
    </a>
    <h6>Weapons</h6>
    <div class="menu-lists">
      <ul>
        <li><a href="#">Weapons</a></li>
        <li><a href="#">Explosives</a></li>
        <li><a href="#">Powered Armor</a></li>
      </ul>
    </div>
  </div>
</div>
