<div class="department-button-container">
  <div class="department-buttons">
    <div class="card"><a href="/electronics/">Electronics</a></div>
    <div class="card"><a href="/personal-equipment/">Personal Equipment</a></div>
    <div class="card"><a href="/robots-and-drones/">Robots & Drones</a></div>
    <div class="card"><a href="/survival/">Survival</a></div>
    <div class="card"><a href="/vehicles/">Vehicles</a></div>
    <div class="card"><a href="/weapons/">Weapons & Accessories</div>
  </div>
</div>