    <section>
      <div class="departments">
        
        <div class="card">
          <a href="#">
            <img src="/img/slide-1.jpg" alt="Electronics">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-2.jpg" alt="Personal Equipment">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-3.jpg" alt="Robots & Drones">
          </a>
          </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-4.jpg" alt="Survival">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-5.jpg" alt="Vehicles">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-6.jpg" alt="Weapons">
          </a>
        </div>

      </div>
    </section>
