    <section class="disclaimer-section">
      <div class="disclaimer">
        <div class="disclaimer-title">
        <a href="#" id="disclaimer-toggle">
          <i class="fas fa-chevron-up" id="disclaimer-toggle-icon"></i> Disclaimers
        </a>
        </div>
        <div class="disclaimer-content">
          <p>“Cepheus Engine” and “Samardan Press” are the trademarks of Jason "Flynn" Kemp.</p>
          <p>This application is not associated with Samardan Press nor Jason “Flynn” Kemp.</p>
          <p>You may view a complete copy of the Cepheus Engine SRD by clicking this <a href="https://thetrove.is/Books/Cepheus%20Engine/CE%20-%20Cepheus%20Engine%20SRD.pdf">link</a>.</p>
          <p>"The Traveller game in all forms is owned by Far Future Enterprises. Copyright &copy; 1977 - 2008 Far Future Enterprises."</p>
      </div>
    </section>
