
  <script src="https://kit.fontawesome.com/98c924c274.js" crossorigin="anonymous"></script>
  {# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" crossorigin="anonymous"></script> #}
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/minisearch@3.1.0/dist/umd/index.min.js"></script>

  <script src="{{ '/js/scripts.js' | url }}"></script>
  <script src="{{ '/js/app.js' | url }}"></script>
</body>

</html>