<main class="home-page-main">

  <!-- Side Navigation Menu -->
  <ul id="slide-out" class="sidenav">
    <li class="right-align">
      <a href="#" class="white black-text sidenav-close">
        <i class="material-icons right">close</i></a>
      </a>
    </li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Browse by Department</a></li>
    <li><a href="#">Search Filters</a></li>
    <li><a href="#">Shopping Cart</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Disclaimers</a></li>
  </ul>

  <!-- Hero Section -->
  <div class="container center hero">
    <div class="hero-inner">
      <img src="img/hero-title.png" alt="">
    </div>
  </div>

  <!-- Category Cards -->
  <div class="categories">

    <div class="row">
      <div class="col s12 m6">

        <div class="card-panel transparent">
          <a href="#electronics-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-1.jpg" alt="Electronics">
          </a>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-panel transparent">
          <a href="#personal-equipment-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-2.jpg" alt="Personal Equipment">
          </a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel transparent">
          <a href="#robots-and-drones-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-3.jpg" alt="Robots & Drones">
          </a>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-panel transparent">
          <a href="#survival-equipment-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-4.jpg" alt="Survival Equipment">
          </a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel transparent">
          <a href="#vehicles-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-5.jpg" alt="Vehicles">
          </a>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-panel transparent">
          <a href="#weapons-modal" class="modal-trigger btn big-button black">
            <img src="img/slide-6.jpg" alt="Weapons">
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Electronics Category Modal Menu -->
  <div id="electronics-modal" class="modal card-modal">
    <div class="modal-content">

      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      
      <h6>Electronics</h6>
      
      <div class="menu-lists">
        <div>
          <ul>
            <li><a href="#">Communicators</a></li>
            <li><a href="#">Computers & Accessories</a></li>
            <li><a href="#">Detectors</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Personal Equipment Modal Menu -->
  <div id="personal-equipment-modal" class="modal card-modal">
    <div class="modal-content">
      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      <h6>Personal Equipment</h6>
      <div class="menu-lists">
        <ul>
          <li><a href="#">Armor & Clothing</a></li>
          <li><a href="#">Drugs & Medical</a></li>
          <li><a href="#">Food & Beverages</a></li>
          <li><a href="#">Miscellaneous</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Robots & Drones Modal Menu -->
  <div id="robots-and-drones-modal" class="modal card-modal">
    <div class="modal-content">
      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      <h6>Robots & Drones</h6>
      <div class="menu-lists">
        <ul>
          <li><a href="#">Automatons</a></li>
          <li><a href="#">Drones</a></li>
          <li><a href="#">Robots</a></li>
          <li><a href="#">Strangeforms</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Survival Equipment Modal Dialog -->
  <div id="survival-equipment-modal" class="modal card-modal wide-modal">
    <div class="modal-content">
      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      <h6>Survival Equipment</h6>

      <div class="menu-lists">
          <ul>
            <li><a href="#">Cables</a></li>
            <li><a href="#">Contstruction Materials</a></li>
            <li><a href="#">Fuel</a></li>
            <li><a href="#">Gases</a></li>
          </ul>
          <ul>
            <li><a href="#">Hydraulics</a></li>
            <li><a href="#">Liquids</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Shelters</a></li>
          </ul>
          <ul>
            <li><a href="#">Structures</a></li>
            <li><a href="#">Surface Gear</a></li>
            <li><a href="#">Tools & Toolkits</a></li>
          </ul>
        </div>
      </div>
  </div>

  <!-- Vehicles Modal Menu -->
  <div id="vehicles-modal" class="modal card-modal">
    <div class="modal-content">
      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      <h6>Vehicles</h6>
      <div class="menu-lists">
        <ul>
          <li><a href="#">Aircraft</a></li>
          <li><a href="#">Grav</a></li>
          <li><a href="#">Wheeled & Tracked</a></li>
          <li><a href="#">Watercraft</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Weapons Modal Menu -->
  <div id="weapons-modal" class="modal card-modal">
    <div class="modal-content">
      <a class="modal-close">
        <i class="material-icons right">close</i>
      </a>
      <h6>Weapons</h6>
      <div class="menu-lists">
        <ul>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Ammunition</a></li>
          <li><a href="#">Weapons</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="center disclaimers-btn"><a href="#" class="red-text">Disclaimers</a></div>

  <div class="disclaimers-btn"><a href="#" class="red-text">Disclaimers</a></div>
</main>
