<div class="home-page">

  <!-- Hero Section -->
  {% include '_hero.njk'%}

  <!-- Category Cards -->
  {% include '_category-cards.njk' %}

  <div class="center disclaimers-btn">
    <a href="{{ rootPath }}about-the-central-supply-catalog#disclaimers" class="red-text">
      Disclaimers
    </a>
  </div>
