<div class="home-page">

  <!-- Hero Section -->
  {% include '_hero.njk'%}

  <!-- Category Cards -->
  {% include '_category-cards.njk' %}

  <div class="center disclaimers-btn"><a href="{{ './about-the-central-supply-catalog#disclaimers' | relative | url }}" class="red-text">Disclaimers</a></div>
