  <div class="navbar-fixed">
    <nav class="nav-extended black">
      <div class="nav-wrapper">
        <a href="{{ './' | relative | url }}" class="brand-logo center red-text">Central Supply Catalog</a>

        <!-- Menu Button -->
        <ul class="left">
          <li><a href="#" id="menu-button"><i
                class="material-icons grey-text text-lighten-4 sidenav-trigger show-on-large show-on-extra-large"
                data-target="slide-out">menu</i></a>
          </li>
        </ul>

        <!-- Shopping Cart -->
        <ul class="right">
          <li>
            <a href="#">
              <div class="shopping-cart">
                <i class="material-icons grey-text lighten-4">shopping_cart</i>
                <span class="badge red cart-count" id="cart-count"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!-- Search Bar -->
      <div class="nav-content container">
        <form class="row">
          <div class="input-field col s12 m8 offset-m2">
            <input id="search" type="search" class="grey lighten-2">
            <label class="label-icon grey" for="search"><i class="material-icons black-text">search</i></label>
          </div>
        </form>
      </div>
    </nav>
  </div>
