<div class="black site-header">
  <!-- top menu row -->
  <div class="row">
    <div class="valign-wrapper">

    <!-- Menu Button -->
    <div class="col s2 menu-btn left-align">
      <ul>
        <li>
          <a href="#" id="menu-button">
            <i class="fa fa-bars grey-text text-lighten-2 sidenav-trigger show-on-large show-on-extra-large flow-text" data-target="slide-out"></i>
            {# <i class="material-icons grey-text text-lighten-4 sidenav-trigger show-on-large show-on-extra-large red-text" data-target="slide-out">menu</i> #}
          </a>
        </li>
      </ul>
    </div>

    <!-- Site Title -->
    <div class="col s8 center site-title">
      <a href="{{ '/' | url }}" class="red-text flow-text">Central Supply Catalog</a>
    </div>

    <!-- Shopping Cart -->
    <div class="col s2 right-align">
      <ul>
        <li>
          <a href="{{ '/shopping-cart' | url}}">
            <div class="shopping-cart">
              <i class="fa fa-shopping-cart grey-text lighten-4 flow-text"></i>
              {# <i class="material-icons grey-text lighten-4 right-align">shopping_cart</i> #}
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  </div>

  {% include '_column-ruler.njk' %}
</div>