  <ul id="slide-out" class="sidenav">
    <li class="right-align">
      <a href="#" class="white black-text sidenav-close">
        <i class="material-icons right">close</i></a>
    </li>

    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/departments' | url }}">Browse by Department</a></li>
    <li><a href="{{ '/shopping-cart' | url }}">Shopping Cart</a></li>

    <li><a href="#!">Filters</a></li>

    <li><a href="{{ '/about-the-central-supply-catalog/' | url }}">About</a></li>

  </ul>

