  <ul id="slide-out" class="sidenav">
    <li class="right-align">
      <a href="#" class="white black-text sidenav-close">
        <i class="material-icons right">close</i></a>
      </a>
    </li>
    <li><a href="{{ rootPath }}">Home</a></li>
    <li><a href="#">Browse by Department</a></li>
    <li><a href="#">Search Filters</a></li>
    <li><a href="#">Shopping Cart</a></li>
    <li><a href="{{ rootPath }}about-the-central-supply-catalog/">About</a></li>
  </ul>
