      <header>
        {# <h1>Central Supply Catalog</h1> #}
        <div class="logo">
          <img src="/img/site-title.png" alt="Central Supply Catalog">
        </div>
  
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </nav>
      </header>
