  <footer>
    <div class="copyright-info">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
          <img src="/img/cc.svg" alt="Creative Commons Attribution-ShareAlike 4.0 International License">
        </a>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Creative Commons Attribution-ShareAlike 4.0 International License
          </a>.
    </div>
  </footer>
