<header>
  <div class="row header-row-1">
    <div class="menu">
      <a href="#" class="sidenav-trigger show-on-large show-on-extra-large" id="menu-button" data-target="slide-out">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="site-logo">
      <a href="/">Central Supply Catalog</a>
    </div>

    <div class="cart" id='shopping-cart'>
      <a href="{{ '/shopping-cart' | url }}">
        <i class="fa fa-shopping-cart"></i>
          <small class="badge" id="cart-badge">1</small>
      </a>
    </div>
  </div>

  <div class="row header-row-2">
    <div class="topnav">
      <button class="dept-btn" id="dept-btn">Departments</button>
      <div class="search-form">
        <form>
          <input type="text" name="search" class="search-input" id="search-input">
          <button class="search-btn" id="search-button"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

</header>