<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container s12 center red-text">
      <div class="copyright-info">
        <div class="copyright-img">
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="Creative Commons Attribution-ShareAlike 4.0 International License">
          </a>
        </div>
        <div class="copyright-text">
          <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" class="amber-text">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>