  <div class="nav-container">
    <a href="/"><h1>Central Supply Catalog</h1></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
