<div class="slideshow">
      <div class="image" style="display: block;">
        <img src="/img/slide-1.jpg" 
        srcset="/img/slide-1-small.jpg 1x, 
                /img/slide-1-small.jpg 2x,
                /img/slide-1.jpg 3x,
                /img/slide-1.jpg 4x"
        src="/img-slide-1.jpg">
      </div>

      <div class="image">
        <img src="/img/slide-2.jpg" 
        srcset="/img/slide-2-small.jpg 1x, 
                /img/slide-2-small.jpg 2x,
                /img/slide-2.jpg 3x,
                /img/slide-2.jpg 4x"
        src="/img-slide-2.jpg">
      </div>

      <div class="image">
        <img src="/img/slide-3.jpg" 
        srcset="/img/slide-3-small.jpg 1x, 
                /img/slide-3-small.jpg 2x,
                /img/slide-3.jpg 3x,
                /img/slide-3.jpg 4x"
        src="/img-slide-3.jpg">
      </div>

      <div class="image">
        <img src="/img/slide-4.jpg" 
        srcset="/img/slide-4-small.jpg 1x, 
                /img/slide-4-small.jpg 2x,
                /img/slide-4.jpg 3x,
                /img/slide-4.jpg 4x"
        src="/img-slide-4.jpg">
      </div>

      <div class="image">
        <img src="/img/slide-5.jpg" 
        srcset="/img/slide-5-small.jpg 1x, 
                /img/slide-5-small.jpg 2x,
                /img/slide-5.jpg 3x,
                /img/slide-5.jpg 4x"
        src="/img-slide-5.jpg">
      </div>

      <div class="image">
        <img src="/img/slide-6.jpg" 
        srcset="/img/slide-6-small.jpg 1x, 
                /img/slide-6-small.jpg 2x,
                /img/slide-6.jpg 3x,
                /img/slide-6.jpg 4x"
        src="/img-slide-6.jpg">
      </div>
</div>