{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main>
  <div class="container browse-page-container white">
    <h3>Search results for: "Shotgun"</h3>

  <div class="row browse-product-row">

        <div class="prod-img col s2 m2">
          <img src="{{ '../img/products/001-00001.png' | url }}">
        </div>

        <div class="prod-info col s6 m8">
          <a href="#"><h6>AHS-7 Advanced Heavy Shotgun</></a>
          <table>
            <tbody>
              <tr><td>Mfr:</td><td><a href="#">Delgado Trading</a></td></tr>
          </table>
        </div>

        <div class="prod-price-controls col s4 m2 right-align">
          <h6>9.925 KCr</h6>
          <form>
            <div class="form-controls">
            <label for="browse-item-qty">Qty:</label>
            <input type="number" min=0 max=999 id="browse-item-qty">
            </div>
          </form>
          <button id="browse-add-to-cart-btn" class="add-to-cart-btn amber black-text">Add to Cart</button>
        </div>

        <div class="product-summary col s12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit ad magni voluptatem alias et vero non.
        </div>

  </div>

  <div class="row browse-product-row">

        <div class="prod-img col s2 m2">
          <img src="{{ '../img/products/001-00002.png' | url }}">
        </div>

        <div class="prod-info col s6 m8">
          <a href="#"><h6>15mm Shotgun Magazine (6-round)</></a>
          <table>
            <tbody>
              <tr><td>Mfr:</td><td><a href="#">Delgado Trading</a></td></tr>
          </table>
        </div>

        <div class="prod-price-controls col s4 m2 right-align">
          <h6>50 Cr</h6>
          <form>
            <div class="form-controls">
            <label for="browse-item-qty">Qty:</label>
            <input type="number" min=0 max=999 id="browse-item-qty">
            </div>
          </form>
          <button id="browse-add-to-cart-btn" class="add-to-cart-btn amber black-text">Add to Cart</button>
        </div>

        <div class="product-summary col s12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit ad magni voluptatem alias et vero non.
        </div>

  </div>

  <div class="row browse-product-row">

        <div class="prod-img col s2 m2">
          <img src="{{ '../img/products/001-00003.png' | url }}">
        </div>

        <div class="prod-info col s6 m8">
          <a href="#"><h6>15mm Shotgun Magazine (12-round)</></a>
          <table>
            <tbody>
              <tr><td>Mfr:</td><td><a href="#">Delgado Trading</a></td></tr>
          </table>
        </div>

        <div class="prod-price-controls col s4 m2 right-align">
          <h6>50 Cr</h6>
          <form>
            <div class="form-controls">
            <label for="browse-item-qty">Qty:</label>
            <input type="number" min=0 max=999 id="browse-item-qty">
            </div>
          </form>
          <button id="browse-add-to-cart-btn" class="add-to-cart-btn amber black-text">Add to Cart</button>
        </div>

        <div class="product-summary col s12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit ad magni voluptatem alias et vero non.
        </div>

  </div>
      {# <div class="showme row">
      <div class="blue col s1">1</div>
      <div class="yellow col s1">2</div>
      <div class="blue col s1">3</div>
      <div class="yellow col s1">4</div>
      <div class="blue col s1">5</div>
      <div class="yellow col s1">6</div>
      <div class="blue col s1">7</div>
      <div class="yellow col s1">8</div>
      <div class="blue col s1">9</div>
      <div class="yellow col s1">10</div>
      <div class="blue col s1">11</div>
      <div class="yellow col s1">12</div>
    </div> #}

</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}