{% include '_head.njk' %}
{% include '_site-header.njk' %}

<div class="container departments-container">
  <h1>Departments</h1>

  <div class="row">

    {% buildDepartmentCards %}

  </div>

</div>
{% include '_site-footer.njk' %}
{% include '_foot.njk' %}