{% include "_head.njk" %}
{% include "_site-header.njk" %}

<main class=" product-summary-section">

  <div class="row">
  <h1 class="center black col s8 offset-s2">{{ title }}</h1>
  </div>

  <div class="container">

    {%- for product in products -%}
    <div class="prod-summary-row row white">
      <div class="prod-img col s3 m2">
        {%- if product.image -%}
          <img src="{{product.image | url}}" alt="{{product.name}}" class="responsive-img">
        {%- else -%}
          <img src="{{'/img/products/no-image.png' | url}}" alt="{{product.name}}" class="responsive-img">
        {%- endif -%}
      </div>

      <div class="product-summary col s9 m10">
        {% set prodlink = "/products/" + product.sku %}
        <a href="{{ prodlink | url}}"><h6>{{ product.name }}</h6></a>
        <p>{%- summary product.description | markdown  -%}</p>
        <div class="valign-wrapper">
          <h5 class="right-align">{{ product.cost | costLabel }}</h5>
        </div>
      </div>

    </div>
    {%- endfor -%}
  </div>
</main>

{# Navigation #}
<div class="collection-nav collection">
  <div class="row">
    <div class="col s12">
    <ul class="pagination center-align">
      {%- for page in pagination.pages -%}
      <li>
        <a href="{{ pagination.hrefs[ loop.index - 1 ] | url }}" class="red-text" {%- if pagination.hrefs[ loop.index - 0] == page.url -%}aria-current="page"{% endif -%}>{{ loop.index }}</a></li>
      {% endfor %}
    </ul>
    </div>
  </div>
</div>

{% include "_site-footer.njk" %}
{% include "_foot.njk" %}
