{% include "_head.njk" %}
{% include "_site-header.njk" %}



<div class=" product-summary-container">

  <div><h1 class="center">{{ title }}</h1>å</div>
  
  <div class="container">

    {%- for product in products -%}
    <div class="prod-summary-row row white">
      <div class="prod-img col s3 m2">
        {%- if product.image -%}
          <img src="{{product.image}}" alt="{{product.shortName}}">
        {%- else -%}
          <img src="/img/products/no-image.png | url" alt="{{product.shortName}}">
        {%- endif -%}
      </div>

      <div class="product-summary col s9 m10">
        <a href="/products/comms/{{product.sku}}.html"><h6>{{ product.name }}</h6></a>
        <p>{%- summary product.description -%}</p>
        <h5>{{ product.cost | costLabel }}</h5>
      </div>

    </div>
    {%- endfor -%}

     {# {{pagination.pages[0][0].type  | log}} #}
    {# Navigation #}
    <nav class="pagenav transparent" aria-labelledby="pages-nav">
      <div class="bottom-page-nav">
        <div>
          <ul class="pagination">
            {%- for page in pagination.pages -%}
            <li><a href="{{ pagination.hrefs[ loop.index0 ] | url }}"{%- if page.url == pagination.hrefs[ loop.index0 ] -%} aria-current="page"{%- endif -%}>{{ loop.index }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>

{% include "_site-footer.njk" %}
{% include "_foot.njk" %}
