{% include '_head.njk' %}
  <div class="container">
    <div class="row">
      {% include '_site-header.njk' %}
      <main>
        <!-- category menu -->
        <div class="category-menu">
        </div>

        <div class="mobile-category-menu">
        </div>

        <!-- Hero section -->
        <div class="hero">
          <img src="./img/hero-title.png" alt="hero-section">
        </div>

      </main>
    </div>
    
  </div>
  {% include '_site-footer.njk' %}
  {% include '_foot.njk' %}