{# {% extends '_base.njk' %} #}
{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main>
{% include '_sidenav.njk'%}
{% include '_home-page-body.njk' %}
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}`