{% include '_head.njk' %}
  <div class="container">
    {% include '_site-header.njk' %}

    <!-- category menu -->
    {# <div class="category-menu"></div> #}

    {# <div class="mobile-category-menu"></div> #}

    <!-- Slideshow section -->
    {# {% include '_slideshow.njk' %} #}

    <!-- Department Buttons -->
    {# {% include '_departments.njk' %} #}
  </div>
    
  {% include '_site-footer.njk' %}
  {% include '_foot.njk' %}