{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main>
  <div class="home-page">
    <div class="departments-container">
      <div class="container" id="content-body">
        <div class="row">{% buildDepartmentCards %}</div>
      </div>
    </div>
  </div>
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}`