{% include '_head.njk' %}

  <header>
      {% include '_navbar.njk' %}
  </header>

  <main>
    <!-- Hero Section -->
    <section>
      <div class="hero">
        <img src="/img/hero-title.png" alt="Central Supply Catalog">
      </div>

    </section>

    <!-- Departments -->
    <section>
      <div class="departments">
        
        <div class="card">
          <a href="#">
            <img src="/img/slide-1.jpg" alt="Electronics">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-2.jpg" alt="Personal Equipment">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-3.jpg" alt="Robots & Drones">
          </a>
          </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-4.jpg" alt="Survival">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-5.jpg" alt="Vehicles">
          </a>
        </div>

        <div class="card">
          <a href="#">
            <img src="/img/slide-6.jpg" alt="Weapons">
          </a>
        </div>

      </div>
    </section>

    <section>
      <div class="disclaimer">
        <div class="disclaimer-title">
        <a href="#" id="disclaimer-toggle">
          <i class="fas fa-chevron-up" id="disclaimer-toggle-icon"></i> Disclaimers
        </a>
        </div>
        <div class="disclaimer-content">
          <p>“Cepheus Engine” and “Samardan Press” are the trademarks of Jason "Flynn" Kemp.</p>
          <p>Pheonic is not associated with Samardan Press nor Jason “Flynn” Kemp.</p>
          <p>You may view a complete copy of the Cepheus Engine SRD by clicking this <a href="https://thetrove.is/Books/Cepheus%20Engine/CE%20-%20Cepheus%20Engine%20SRD.pdf">link</a>.</p>
          <p>"The Traveller game in all forms is owned by Far Future Enterprises. Copyright &copy; 1977 - 2008 Far Future Enterprises."</p>
      </div>
    </section>
  </main>

  {% include '_site-footer.njk' %}
{% include '_foot.njk' %}