{% include '_head.njk' %}
{% include '_site-header.njk' %}


<main class="white black-text product-section">
{% include '_sidenav.njk'%}

    <div class="container">

    <div class="product-main">
      <h1>{{ product.shortName }}</h1>

      <div class="product-main-content">
        <div class="product-image col s5">
          
          {% if product.image %}
            <img src="{{product.image}}" alt="{{product.shortName}}">
          {% else %}
            <img src="../img/products/no-image.png" alt="{{product.shortName}}">
          {% endif %}
        </div>

        <div class="product-controls">
          <form>
              <h5 class="right-align">{{ product.cost | costLabel }}</h5>

              <div class="input-field quantity center">
                <input type="number" name="qty" id="qty" min="0" max="999" value="0">
              </div>

              <div class="add-products-btn">
                <button type="submit" class="btn-small amber black-text ">Add to Cart</button>
              </div>
          </form>
        </div>

        <div class="summary white col s12">
          <h6>Summary</h6>
          <p>{{ product.summary }}</p>
        </div>
      </div>
    </div>

    <div class="description-content">
      <div class="product-description flow-text">
        <h6>Description</h6>
        <p>{{ product.description }}</p>
      </div>

      <div class="product-details">
        <table>
          <thead>
            <tr><th colspan="2" class="center">Product Details</th></tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Manufacturer:</strong></td>
              <td>
                {% getMfr product.mfrId %}
              </td>
            </tr>
            <tr>
              <td><strong>Mass:</td>
              <td>{{ product.mass}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="product-accessories">
      <h6>Accessories</h6>
      <div class="accessory-list white black-text">
        {% set accLength = product.accessories | length %}
        {% if accLength > 0 %}
          {% for item in product.accessories %}
            {% getAccessory products, item %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="product-source">
      <hr>
      <strong>Source of Data</strong>
      <p><a href="{{product.source.url}}">{{product.source.name}}</a></p>
    </div>
  </div>
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}