{% include '_head.njk' %}
{% include '_site-header.njk' %}


<main class="white black-text product-section">
{% include '_sidenav.njk'%}

    <div class="container">

    <div class="product-main">
      <h1>{{ product.shortName }}</h1>

      <div class="product-main-content">
        <div class="product-image col s5 blue">
          
          {% if product.image %}
            <img src="{{product.image | url}}" alt="{{product.shortName}}">
          {% else %}
            <img src="{{'/img/products/no-image.png' | url}}" alt="{{product.shortName}}">
          {% endif %}
        </div>

        <div class="product-controls">
          <form>
              <h5 class="right-align">{{ product.cost | costLabel }}</h5>

              <div class="input-field quantity center">
                <input type="number" name="qty" id="qty" min="0" max="999" value="0">
              </div>

              <div class="add-products-btn">
                <button type="submit" class="btn-small amber black-text ">Add to Cart</button>
              </div>
          </form>
        </div>

        <div class="prod-name col s12">
          <h5>{{product.name }}</h5>
        </div>
      </div>
    </div>

    <div class="description-content">
      <div class="product-description flow-text">
        <h6>Description</h6>

        {{ product.description | markdown | safe }} 
        
      </div> 

      <div class="product-details">
        <table>
          <thead>
            <tr><th colspan="2" class="center">Product Details</th></tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Manufacturer:</strong></td>
              <td>
                {% getMfr product.mfrId %}
              </td>
            </tr>
            <tr>
              <td><strong>TL:</td>
              <td>{{product.techLevel }}</td>
            </tr>
            <tr>
              <td><strong>Mass:</strong></td>
              <td>{{ product.mass }}</td>
            </tr>
            <tr>
              <td><strong>Size:</strong></td>
              <td>{{ product.size }}</td>
            </tr>
            <tr>
              <td><strong>QREBS:</strong></td>
              <td>{{ product.qrebs }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% if product.accessories | length > 0 %}
      <div class="product-accessories">
        <h6>Accessories</h6>
        <div class="accessory-list white black-text">
          {% set accLength = product.accessories | length %}
          {% if accLength > 0 %}
            {% for item in product.accessories %}
              {% getAccessory products, item %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="product-source">
      <hr>
      
      <p><strong>Source of Data</strong><br></p>

      {% if product.sources %}
        {% for src in product.sources %}
        <p class="source">
        &ldquo;<em>{{ src.publication | safe}}</em>&rdquo;, 
        {% set comma = joiner() %}
        {% for author in src.authors %}
          {{ comma() }}{{author | safe }}
        {% endfor %}
        , <a href="{{ src.publisher.url | url }}" target="_blank">{{ src.publisher.name}}</a>
        </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}