{% include '_head.njk' %}
{% include '_site-header.njk' %}


<main>
{% include '_sidenav.njk'%}
  <div class="cart-div container">
    <div class="sticky white container">
        <h1 class="col s12 center">Shopping Cart</h1>
      <div class="total-row row">
        <div class="valign-wrapper">
          <div class="col s4 left ">
            <button class="empty-cart left amber black-text" id="empty-cart">Empty Cart</button>
          </div>
          <div class="col s8 right">
            <h6 class="right"><span id="cart-total" class="cart-total"></span></h6>
          </div>
        </div>
      </div>
    </div>      
    <div class="cart-items-container"></div>


        
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}