{% include '_head.njk' %}
{% include '_site-header.njk' %}


<main class="white black-text">
{% include '_sidenav.njk'%}

  <div class="container shopping-cart-container">

    <div class="cart-total-row row">
      {# <button class="empty-cart">Empty Cart</button> #}
      <h6 class="right-align">
        Cart Total: <span id="cart-total" class="cart-total">1,675 Cr</span>
      </h6>
    </div>

    <div class="product-row row">

      <div class="prod-img col s3 m2">
        <a href="#">
          <img src="../img/products/001-00001.png" class="responsive-img">
        </a>
      </div>

      <div class="prod-details col s6 m8">

        <div class="prod-title">
            <a href="#" class="black-text">AHS-7 Advanced Heavy Shotgun</a>
        </div>

        <div class="prod-qty">
          <form>
              <button><i class="fa fa-minus"></i></button>
              <input type="number" id="prod-row-1-qty">
              <button><i class="fa fa-plus"></i></button>
              <button class="remove-item"><i class="fa fa-trash"></i></button>
          </form>
        </div>
      </div>

      <div class="prod-total col s3 m2 right-align">
        1.6 KCr
      </div>

    </div>

    <div class="product-row row">

      <div class="prod-img col s3 m2">
        <a href="#">
          <img src="../img/products/001-00002.png" class="responsive-img">
        </a>
      </div>

      <div class="prod-details col s6 m8">

        <div class="prod-title">
            <a href="#" class="black-text">156mm Shotgun Magazine (6-Round)</a>
        </div>

        <div class="prod-qty">
          <form>
              <button><i class="fa fa-minus"></i></button>
              <input type="number" id="prod-row-1-qty">
              <button><i class="fa fa-plus"></i></button>
              <button class="remove-item"><i class="fa fa-trash"></i></button>
          </form>
        </div>
      </div>

      <div class="prod-total col s3 m2 right-align">
        25 Cr
      </div>

    </div>

    <div class="product-row row">

      <div class="prod-img col s3 m2">
        <a href="#">
          <img src="../img/products/001-00003.png" class="responsive-img">
        </a>
      </div>

      <div class="prod-details col s6 m8">

        <div class="prod-title">
            <a href="#" class="black-text">15mm Shotgun Double Magazine (12-Round)</a>
        </div>

        <div class="prod-qty">
          <form>
              <button><i class="fa fa-minus"></i></button>
              <input type="number" id="prod-row-1-qty">
              <button><i class="fa fa-plus"></i></button>
              <button class="remove-item"><i class="fa fa-trash"></i></button>
          </form>
        </div>
      </div>

      <div class="prod-total col s3 m2 right-align">
        50 Cr
      </div>

    </div>
    {# <div class="showme row">
      <div class="blue col s1">1</div>
      <div class="yellow col s1">2</div>
      <div class="blue col s1">3</div>
      <div class="yellow col s1">4</div>
      <div class="blue col s1">5</div>
      <div class="yellow col s1">6</div>
      <div class="blue col s1">7</div>
      <div class="yellow col s1">8</div>
      <div class="blue col s1">9</div>
      <div class="yellow col s1">10</div>
      <div class="blue col s1">11</div>
      <div class="yellow col s1">12</div>
    </div> #}

    
  </div>
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}