{% include '_head.njk' %}
{% include '_site-header.njk' %}

<main>
{% include '_sidenav.njk'%}
<div class="container content-container white darken-3">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</div>
</main>

{% include '_site-footer.njk' %}
{% include '_foot.njk'%}