{%- include '_head.njk' -%}
<div class="site-page">
  {%- include '_site-header.njk' -%}
  <main id="main">
    <div class="site-page-content">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
  </div>
</div>
{%- include '_site-footer.njk' -%}
{%- include '_foot.njk' -%}