@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
  --red: #ff2b35;
  --max-content-width: 960px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(/img/background.jpg);
  background-color: #000;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

a {
  color: var(--red);
}

/*--------------------- Mobile-First Design ---------------------*/

.nav-container {
  padding: .5rem;
  background-color: pink;
  width: 100%;
  background: #000;
}

.nav-container a {
  text-decoration: none;
}

.nav-container a h1 {
  font-size: 1.5rem;
  text-align: center;
}

.nav-container ul {
  list-style: none;
  text-align: center;
  padding-top: .5rem;
}

.nav-container ul li {
  display: inline-block;
}

.nav-container ul li:nth-child(n+2)::before {
  content: " | ";
  color: var(--red);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

footer .disclaimer {
  text-align: center;
}

footer .disclaimer a {
  text-decoration: none;
  background: transparent;
}

footer .cc-attrib {
  display: flex;
  color: var(--red);
  background: #000;
  width: 100%;
  padding: .5rem;
  gap: .5rem;
  font-size: .8rem;
}

footer .cc-attrib img {
  width: 80%;
  height: auto;
}