
@mixin response($breakpoint) {

  // 1024px
  @if($breakpoint == lg) {
    @media screen and (min-width: 64rem) {
      @content;
    }
  }

  // 768px
  @if($breakpoint == md) {
    @media screen and (min-width: 48rem) {
      @content;
    }
  }

  // 640px
  @if($breakpoint == sm) {
    @media screen and (min-width: 40rem) {
      @content;
    }
  }

  // 320px
  @if($breakpoint == xs) {
    @media screen and (min-width: 20rem) {
      @content;
    }
  }
}

@mixin response-height($breakpoint) {
  

  // 352px - iPhone X portrait
  @if($breakpoint == xs) {
    @media screen and (min-height: 22rem) {
      @content;
    }
  }
  
  // 768px - iPad portrait
  @if ($breakpoint == md) {
    @media screen and (min-height: 48rem) {
      @content;
    }
  }
}